
.search-container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  max-width: 480px;
  max-height: 150px;
  margin: 50px auto;
  background-color: rgb(76, 120, 180);
  justify-content: center;
}

.forecast-heading-container > * {
  text-align: center;
}

.forecast-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 4800px;
  margin: 50px auto;
  justify-content: center;
}

.daily-details-container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  max-width:300px;
  margin-right: 50px;
  justify-content: center;
}

.daily-details-container > p {
  font-weight:lighter;
  justify-content: flex-start;
  display: inline-block;

}

.daily-details-container > p > span {
  font-weight: bold;
}
.current-weather-container > p > span {
  justify-content: center;
  font-weight: bold;
}

.weather-details-container {
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forecast-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html {background-color: white}
